@font-face {
 font-family: 'fontello';
 src: url('fontello.eot?3837060');
 src: url('fontello.eot?3837060#iefix') format('embedded-opentype'), url('fontello.woff') format('woff'), url('fontello.ttf') format('truetype'), url('fontello.svg?3837060#fontello') format('svg');
 font-weight: normal;
 font-style: normal;
}
